body {
    background-color: #ffffff;
    text-align: center;
}

#container-fluid {
    padding: 0 12%;
}

@media (max-width:1180px) {
    #container-fluid {
        padding: 3%;
    }
}

/* Navbar */
.navbar {
    color: rgb(165, 25, 25);
    padding: 0% 3%;
}

.navbar a {
    float: left;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
}

/* .dropdown {
    float: left;
} */

.dropdown .dropbtn {
    text-align: center;
    font-size: 16px;
    border: none;
    outline: none;
}
@media (max-width:993px){
    .dropbtn{
        padding: 0 200px;
    }
}
.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.navbar-toggler {
    background-color: rgb(116, 24, 24);
}

.navbar-toggler-icon {
    color: #ffffff;
}

.nav-link {
    color: black;
}

/* Contact */
#contact {
    position: fixed;
    left: 0;
}

/* Carousel */
#testimonials {
    background-color: #a5a0a0;
}

.testimonial-inner {
    padding: 0 8%;
}

.testimonial-slide {
    color: #352816;
    text-align: left;
    padding: 10% 5% 10%;
    font-family: 'Poppins', sans-serif;
}

.testimonial-text {
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 3rem;
    line-height: 3rem
}

@media (max-width: 1035px) {
    .testimonial-slide {
        text-align: center;
    }

    .testimonial-text {
        text-align: center;
        width: 100%;
        font-size: 2rem;
        line-height: 2rem;
    }
}

/* Headings */
.heading {
    font-family: 'Dancing Script', cursive;
    color: #a73335;
    font-size: 3.25rem;
    padding: 10px;
}

@media (max-width:1300px) {
    .heading {
        font-size: 2rem;
    }
}

/* Our Brands */
#ourbrands {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 60px 0px 60px 0px;
}

.our-brand-logo {
    width: 19%;
    padding: 10px;
}

@media (max-width:670px) {
    .our-brand-logo {
        width: 30%;
        padding: 5px;
    }
}

@media (max-width:615px) {
    .our-brand-logo {
        width: 50%;
        padding: 20px;
    }
}

/* Experience */
#experience {
    color: #933638;
}

.experience-box1 {
    padding: 8% 0;
}

.experience-box2 {
    padding: 10px;
}

.experience-heading {
    font-family: 'Poppins' !important;
    font-size: 9rem;
    line-height: 0px !important;
    font-weight: 600;
}

.experience-subheading {
    margin: 4rem auto auto;
    font-size: 4.5rem;
    line-height: 80px;
    font-family: "Dancing Script", Sans-serif;
    font-weight: 100 !important;
}

.experience-text {
    text-align: left;
    padding: 5% 0 3% 0;
    font-size: 1rem;
    font-weight: 200;
    line-height: 2rem;
    margin-bottom: 20px;
}

.card-title {
    font-family: 'poppins';
    font-weight: normal;
}

.experience-card {
    float: left;
    padding-bottom: 70%;
}

.card-text {
    text-align: left;
}

.lead {
    font-size: 1rem;
    line-height: 2rem;
}

@media (max-width:1750px) {
    #experience {
        text-align: center;
    }

    .experience-box1 {
        padding: 10% 0;
    }

    .experience-subheading {
        font-size: 50px;
    }

    .experience-text {
        line-height: 1.5rem;
    }

    .experience-card {
        float: left;
        padding-bottom: 55%;
    }

    .container-lg {
        height: 50%;
    }

    .card-body {
        padding: 10px;
    }

    .lead {
        font-size: 0.90rem;
        line-height: 1.5rem;
    }
}

@media (max-width:1365px)and (min-width: 1185px) {
    .card-title {
        font-size: 1rem;
    }

    .lead {
        line-height: 1rem;
        font-size: 0.87rem;
    }

}

@media (max-width:1185px) {
    .experience-heading {
        font-size: 5rem;
    }

    .experience-subheading {
        margin: 2rem auto auto;
        font-size: 3rem;
        line-height: 80px;
    }

    .experience-text {
        padding: 3%;
        text-align: center;
    }
}
@media (max-width:767px){
    .experience-card{
        padding-bottom: 5%;
    }
}
@media (max-width:700px) {
    .experience-box1 {
        padding: 2%;
    }

    .experience-subheading {
        line-height: 40px;
    }
}

/* Products */
#products {
    padding: 30px 0;
}

#products-carousel {
    padding: 10px;
}

.product-img {
    width: 25%;
}

@media (max-width:800px) {
    .product-img {
        width: 40%;
    }
}

/* Save you time */
.save-text {
    text-align: left;
    padding: 12% 0 12% 0;
}

.save-image {
    vertical-align: middle;
}

.downloadbutton1 {
    color: #933638;
    font-weight: bold;
}

@media (max-width:1180px) {
    #saveyourtime {
        padding: 0 5%;
    }

    .save-text {
        line-height: 1.7rem;
    }
}

/* Need Help */
#needhelp {
    color: #933638;
    padding: 60px;
}

.needhelp {
    text-align: left;
}

.form {
    margin: 6%;
}

.quickinquiry {
    margin: 3%;
}

input[type=text] {
    border: none;
    border-bottom: 1px solid black;
}

input[type=email] {
    border: none;
    border-bottom: 1px solid black;
}

input[name=message] {
    width: 65%;
    padding: 7% 0;
    margin: 2% 0;
}

.message {
    text-align: left;
}

.required {
    color: #933638;
}

@media (max-width:1353px) {
    input[name=message] {
        width: 100%;
        padding: 7% 0;
        margin: 2% 0;
    }
}

@media (max-width:995px) {
    #needhelp {
        padding: 5px;
        text-align: left;
    }

    .form {
        margin: 6% 0;
    }

    input[type=text] {
        width: 100%;
    }

    input[type=email] {
        width: 100%;
    }
}

/* Location */
.location-img {
    padding: 10px;
    text-align: center;
}

#location {
    padding: 30px;
}

.location-img1 {
    padding: 4%;
    font-family: 'Poppins';
    font-weight: 200;
    color: #933638;
}

.address-img {
    float: left;
    margin: 0 3% 0 2%;
}

.address-text {
    padding: 2% 3% 3% 5%;
    text-align: left;
}

.address-subtext {
    color: #933638;
    font-family: 'Dancing Script', cursive;
    font-size: 2rem;
}

@media (max-width: 1300px) {
    #location {
        padding: 10px;
    }
}

/* Footer */
footer {
    padding: 43px 0 23px 0;
}