body{
    margin: 0;
    text-align: center;
    font-family: 'Itim', cursive;
    font-size: 1.4375em;
}  
h1{
    font-size: 3rem;
    margin: 25px auto 0 auto;
    font-family: 'Pacifico', cursive;
    color: #3ea0a0;
    line-height: 2;
}
h2{
    font-family: 'Marck Script', cursive;
    font-size: 2.5rem;
    color: #3ea0a0;
    font-weight: normal;
    text-decoration: underline;
}
h3{
    font-family: 'Marck Script', cursive;
    color: #3ea0a0;
}
hr{
    border-top: 12px dotted #abe6e6;
    border-bottom: none;
    border-left: none;
    border-right: none;
    width: 100px;
}
.intro{
    width: 40%;
    margin: auto;
}
.skill-row{
    width: 50%;
    margin: 100px auto;
    text-align: left;
    line-height: 2;
}
.dev{
    height: 200px;
    width: 200px;
}
.skillimage{
    width: 30%;
    float: left;
    margin-right: 35px
}
.sports{
    width: 40%;
    float: right;
    margin-left: 30px;
}
.top-container{
    background-color: #abe6e6;
    height: 643px;
    position: relative;
    padding-top: 100px;
}
.c1{
    position: absolute;
    top: 25%;
    right: 25%;
}
.c2{
    position: absolute;
    left: 25%;
    bottom: 40%;
}
.contact-me{
    width: 50%;
    margin: auto;
}
.middle-container{
    margin: 100px;
}
.bottom-container{
    background-color: #75c0c0;
    height: 100px;
}
a{
    margin: auto 10px;
    color: #0d8286;
}
a:hover{
    color: #eaf6F6;
}
.btn {
    background: #00d9ff;
    background-image: -webkit-linear-gradient(top, #00d9ff, #1f4457);
    background-image: -moz-linear-gradient(top, #00d9ff, #1f4457);
    background-image: -ms-linear-gradient(top, #00d9ff, #1f4457);
    background-image: -o-linear-gradient(top, #00d9ff, #1f4457);
    background-image: linear-gradient(to bottom, #00d9ff, #1f4457);
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    font-family: Courier New;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 25px 10px 25px;
    text-decoration: none;
}  
.btn:hover {
    background: #21597a;
    background-image: -webkit-linear-gradient(top, #21597a, #2b3e4a);
    background-image: -moz-linear-gradient(top, #21597a, #2b3e4a);
    background-image: -ms-linear-gradient(top, #21597a, #2b3e4a);
    background-image: -o-linear-gradient(top, #21597a, #2b3e4a);
    background-image: linear-gradient(to bottom, #21597a, #2b3e4a);
    text-decoration: none;
}
.credit{
    font-size: medium;
    color: #eaf6F6;
}